
<div class="wrapper">

  <!-- Main Header -->
  <admin-main-header></admin-main-header>
  <!-- Left side column. contains the logo and sidebar -->
  <admin-main-side></admin-main-side>

  <!-- Content Wrapper. Contains page content -->
  <router-outlet></router-outlet>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <admin-footer></admin-footer>

  <!-- Control Sidebar -->
  <admin-control-sidebar></admin-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


