
<div class="wrapper">

  <!-- Main Header -->
  <admin-main-header></admin-main-header>
  <!-- Left side column. contains the logo and sidebar -->
  <admin-main-side></admin-main-side>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <p>
      <img src="http://i.dailymail.co.uk/i/pix/2016/07/17/18/365DCEF400000578-3694575-image-a-1_1468776854494.jpg"/>
      </p>
      <p>
      <img src="http://i.dailymail.co.uk/i/pix/2016/07/17/18/365DCEF400000578-3694575-image-a-1_1468776854494.jpg"/>
      </p>
      <p>
      <img src="http://i.dailymail.co.uk/i/pix/2016/07/17/18/365DCEF400000578-3694575-image-a-1_1468776854494.jpg"/>
      </p>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <admin-footer></admin-footer>

  <!-- Control Sidebar -->
  <admin-control-sidebar></admin-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


