<div class="wrapper">

  <!-- Main Header -->
  <app-starter-header></app-starter-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-starter-sidebar></app-starter-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <app-starter-content></app-starter-content>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>

  <!-- Control Sidebar -->
  <app-starter-control-sidebar></app-starter-control-sidebar>
  <!-- /.control-sidebar -->
</div>
